*{
margin: 0;
padding: 0;
}

body{
    background-color: beige;
    font-family: 'Playfair Display', serif;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('../imagenes/gmc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 40px;
}
.principal{
    text-align: justify;
    margin: 20px;
}

.principal p{
    margin: 20px;
}

.principal article{
    border: 2px dotted;
    margin: 10px 50px;
    padding: 20px;
    text-align: center;
}

.principal h2{
    text-align: center;
    font-size: 30px;
}

.container-gal{
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

div.Galeria{
    margin: 10px;
    box-shadow: 2px 4px 8px  lightblue;
    width: 300px;
    display: inline-block;
    margin-left: 10px;
}

.Galeria img{
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

footer{
    background-color: aliceblue;
    color: black;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

@media only screen and (max-width: 576px){
    .principal{

    }
}
@media only screen and (min-width: 576px){

}